---
import { LocalePath } from '~/utils/StaticPathHelper';
export function getStaticPaths() {return LocalePath();}

import Layout from "~/layouts/PageLayout.astro"
import i18n from '~/components/i18n/index.js';
import { getLanguageFromPath, SITE } from '~/config.js'
import LanguageMap from "~/components/map/FrontPageMap.astro"
 
const locale = getLanguageFromPath(Astro.url)
const t = i18n[locale]
const {content} = Astro.props
---

<Layout meta={{title:t?.home ?? "Home", description: t?.cs_tagline ?? '' }}>

	<div class="text-center py-8 max-w-6xl mx-auto">
		<p class="text-xl pb-4">Ranking where <b>Bible Shortage</b> is Greatest and <b>Bible Access</b> is Most Challenged.</p>
		<p>This Bible Access List is a research initiative identifying where it is most difficult for people to access Bibles and highlights the nations with the most significant shortages. The results are based on expert analysis of 34 data points and insights from consultations with over a thousand national experts.</p>
	</div>

	<nav class="max-w-xl mx-auto isolate flex divide-x divide-gray-200 dark:divide-stone-950 rounded-lg shadow-sm" aria-label="Tabs">
		<a href={`/${locale}/shortage`} class="group relative min-w-0 flex-1 overflow-hidden rounded-tl-lg bg-stone-100 dark:bg-stone-900 px-4 py-4 text-center text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700 focus:z-10">
			<span>Bible Shortage by Nation</span>
			<span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-transparent"></span>
		</a>
		<a href={`/${locale}/`} class="group relative min-w-0 flex-1 overflow-hidden rounded-tr-lg bg-stone-200 dark:bg-stone-900 px-4 py-4 text-center text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700 focus:z-10">
			<span>Access Challenged Nations</span>
			<span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-transparent"></span>
		</a>
	</nav>

	<LanguageMap />

</Layout>