---
import i18n from '~/components/i18n/index.js';
import { getLanguageFromPath } from '~/config.js';
import MainMenu from "./MainMenu.astro";
const locale = getLanguageFromPath(Astro.url);
const t = i18n[locale]
---

<header class="sticky top-0 z-40 flex-none mx-auto w-full bg-stone-100/80 dark:bg-stone-900/90 backdrop-blur-sm border-stone-300 dark:border-stone-600 border-b">
  <div class="px-3 py-3 md:px-4 flex flex-wrap lg:flex-nowrap justify-between max-w-6xl mx-auto">
    <a class="flex items-center text-3xl" href={`/${locale}/`}>
        <img src="/images/logo/bal_radar.svg" alt="Bible Access List" class="h-10 lg:h-14  w-auto" />
        <img src="/images/logo/bal_text_black.svg" alt="Bible Access List" class="h-4 md:h-5 xl:h-6 ml-6 dark:hidden w-auto" />
        <img src="/images/logo/bal_text_white.svg" alt="Bible Access List" class="h-4 md:h-5 xl:h-6 ml-6 hidden dark:block w-auto" />
    </a>

    <MainMenu />

  </div>
</header>

<style is:global>
  [data-aw-toggle-menu].expanded .line1 {
    transform: rotate(-45deg) translate(-12px, 8px);
  }

  [data-aw-toggle-menu].expanded .line2 {
    transform: rotate(45deg) translate(4px, -16px);
  }
</style>
