---
import { LocalePath } from '~/utils/StaticPathHelper';
import Layout from "~/layouts/PageLayout.astro";
import MarkDownAside from "~/components/navigation/MarkdownAside.astro"
import { SITE, getLanguageFromPath } from "~/config.js";
import i18n from '~/components/i18n/index.js';
import balData from "~/data/bal.json";
import { getCollection, render } from 'astro:content';

export function getStaticPaths() {
  const paths = [];
  const locales = LocalePath();
  Object.keys(balData).forEach(countryId => {
    locales.forEach(({ params }) => {
      paths.push({
        params: { ...params, id: countryId }
      });
    });
  });
  return paths;
}

const { id } = Astro.params;
const locale = getLanguageFromPath(Astro.url);
const t = i18n[locale];
const country = balData[id];

const CountriesCollection = await getCollection("countries", ({ id }) => id.includes(id))
const currentPage = CountriesCollection[0]

const { Content, headings } = await render(currentPage);
---

<Layout meta={{title: country.country, description: `Bible access and shortage data for ${country.country}`}}>

<div class="grid grid-cols-4 mx-auto pt-12 max-w-7xl">
    <MarkDownAside {headings} />
<div class="col-span-3 prose !max-w-none dark:prose-invert">
  <Content />
</div>
</div>
</Layout>