@tailwind base;
@tailwind components;
@tailwind utilities;

.access-rank a[data-bwl-access="8"] path  {fill:#ffeda0;stroke:#fed976;stroke-width: 2px}
.access-rank a[data-bwl-access="7"] path  {fill:#fed976;stroke:#feb24c;stroke-width: 2px}
.access-rank a[data-bwl-access="6"] path  {fill:#feb24c;stroke:#fd8d3c;stroke-width: 2px}
.access-rank a[data-bwl-access="5"] path  {fill:#fd8d3c;stroke:#fc4e2a;stroke-width: 2px}
.access-rank a[data-bwl-access="4"] path  {fill:#fc4e2a;stroke:#e31a1c;stroke-width: 2px}
.access-rank a[data-bwl-access="3"] path  {fill:#e31a1c;stroke:#bd0026;stroke-width: 2px}
.access-rank a[data-bwl-access="2"] path  {fill:#bd0026;stroke:#800026;stroke-width: 2px}
.access-rank a[data-bwl-access="1"] path  {fill:#800026;stroke:#67000D;stroke-width: 2px}
.needs-rank a[data-bwl-needs="8"] path    {fill:#edf8b1;stroke:#c7e9b4;}
.needs-rank a[data-bwl-needs="7"] path    {fill:#c7e9b4;stroke:#7fcdbb;}
.needs-rank a[data-bwl-needs="6"] path    {fill:#7fcdbb;stroke:#41b6c4;}
.needs-rank a[data-bwl-needs="5"] path    {fill:#41b6c4;stroke:#1d91c0;}
.needs-rank a[data-bwl-needs="4"] path    {fill:#1d91c0;stroke:#225ea8;}
.needs-rank a[data-bwl-needs="3"] path    {fill:#225ea8;stroke:#253494;}
.needs-rank a[data-bwl-needs="2"] path    {fill:#253494;stroke:#081d58;}
.needs-rank a[data-bwl-needs="1"] path    {fill:#081d58;}
path text                                 {text-shadow: 3px 2px 4px rgba(0,0,0,0.50)}

.bwl-logo-a5 {fill:#fd8d3c;}
.bwl-logo-a4 {fill:#fc4e2a;}
.bwl-logo-a3 {fill:#e31a1c;}
.bwl-logo-a2 {fill:#bd0026;}
.bwl-logo-a1 {fill:#800026;}

.bwl-logo-n5 {fill:#c7e9b4;}
.bwl-logo-n4 {fill:#7fcdbb;}
.bwl-logo-n3 {fill:#41b6c4;}
.bwl-logo-n2 {fill:#1d91c0;}
.bwl-logo-n1 {fill:#225ea8;}